<html lang="en" data-bs-theme="auto">

<head>
    <script src="/docs/5.3/assets/js/color-modes.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Register</title>

    <link rel="icon" href="/Image/favicon.ico" type="image/x-icon">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sign-in/">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">

    <link rel="stylesheet" href="/css/style.css" />

    <!-- <link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"> -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.3/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.3/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#712cf9">

    <style>
        body {
            background-image: url('Image/BGLogRegis.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            width: 100%;
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }

        .btn-primary:hover {
            background-color: #3187e6 !important;
            color: #ffffff !important;
        }

        /* .btn-bd-primary {
            --bd-violet-bg: #712cf9;
            --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

            --bs-btn-font-weight: 600;
            --bs-btn-color: var(--bs-white);
            --bs-btn-bg: var(--bd-violet-bg);
            --bs-btn-border-color: var(--bd-violet-bg);
            --bs-btn-hover-color: var(--bs-white);
            --bs-btn-hover-bg: #6528e0;
            --bs-btn-hover-border-color: #6528e0;
            --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
            --bs-btn-active-color: var(--bs-btn-hover-color);
            --bs-btn-active-bg: #5a23c8;
            --bs-btn-active-border-color: #5a23c8;
        }

        .bd-mode-toggle {
            z-index: 1500;
        }

        .bd-mode-toggle .dropdown-menu .active .bi {
            display: block !important;
        } */

        .form-select {
            width: 100px;
            /* Adjust the width as needed */
        }
    </style>

    <link href="/css/sign-in.css" rel="stylesheet">

</head>

<body class="d-flex align-items-center py-4 bg-body-tertiary">

    <div class="container-justify-content-end">
        <nav class="navbar navbar-expand-lg navbar-light" id="sticky-navbar" style="background:#8DC0EB">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <a href="/"><img src="/Image/YarkArnLogo.png" style="left: 10000px" width="100px" height="auto" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDropdownMenuLink"
              aria-controls="navbarDropdownMenuLink" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarDropdownMenuLink">
              <ul class="navbar-nav custom-small-text">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/">หน้าหลัก</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/map">แผนที่</a>
                </li>
                <li class="nav-item">
                  <% if (!loggedIn) { %>
                    <a class="nav-link" aria-current="page"
                      onclick="swal('ไม่สามารถเข้าถึงได้', 'ต้องเข้าสู่ระบบ หรือ สมัครสมาชิกก่อนใช้งาน', 'error')"
                      href="#">หนังสือทั้งหมด</a>
                    <% } %>
                      <% if (loggedIn) { %>
                        <a class="nav-link" aria-current="page" href="/allbook">หนังสือทั้งหมด</a>
                        <% } %>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#"
                    onclick="swal('ไม่สามารถเข้าถึงได้', 'อยู่ระหว่างการพัฒนา', 'error')">ค้นหา</a>
                </li>
                <li class="nav-item">
                  <!-- ดัก user เมื่อ user ยังไม่ได้ login เข้าสู่ระบบ เพื่อป้องกันไม่ให้ user เข้าถึงเนื้อหาเมื่อยังไม่ได้ login-->
                  <% if (!loggedIn) { %>
                    <a class="nav-link" aria-current="page"
                      onclick="swal('ไม่สามารถเข้าถึงได้', 'ต้องเข้าสู่ระบบ หรือ สมัครสมาชิกก่อนใช้งาน', 'error')"
                      href="#">สิ่งที่อยากอ่าน</a>
                    <% } %>
                      <!-- ถ้า user login เข้าสู่ระบบ user จะสามารถเข้าสู่เนื้อหาได้เมื่อทำการ login แล้ว-->
                      <% if (loggedIn) { %>
                        <a class="nav-link" aria-current="page" href="/list">สิ่งที่อยากอ่าน</a>
                        <% } %>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Me (ชื่อ)
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                      <!-- ถ้า user login เข้าสู่ระบบ user จะเห็นปุ่ม My Profile ขึ้นมา -->
                      <% if (loggedIn) { %>
                        <a class="dropdown-item" href="/profile">โปรไฟล์</a>
                        <% } %>
                    </li>
                    <li>
                      <!-- ถ้า user ยังไม่ login เข้าสู่ระบบ จะขึ้นปุ่มนี้ขึ้นมา -->
                      <% if (!loggedIn) { %>
                        <a class="dropdown-item " href="/login">เข้าสู่ระบบ</a>
                        <% } %>
                    </li>
                    <li>
                      <!-- ถ้า user ยังไม่ login เข้าสู่ระบบ จะขึ้นปุ่มนี้ขึ้นมา -->
                      <% if (!loggedIn) { %>
                        <a class="dropdown-item " href="/register">สมัครสมาชิก</a>
                        <% } %>
                    </li>
                    <li>
                      <% if (loggedIn) { %>
                        <a class="dropdown-item" href="/contact">ข้อเสนอแนะ</a>
                        <% } %>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

    <main class="form-signin w-100 m-auto"
        style="background-color: rgba(255, 255, 255, 0.9); border-radius: 30px; border: rgba(141, 192, 235, 0.7) solid 10px; max-width: 30%;">
        <form action="/user/register" method="post">

            <h2 class="h3 mb-3 fw-bolder text-center" style="font-size: 3rem;">Register</h2>

            <!-- แสดงค่า error ออกมาเมื่อ user กรอกข้อมูลลงใน form ไม่ครบ ซึ่งตัว error จะมาจาก file registerControlles.js-->

            <% if(errors !=null && errors.length> 0) { %>
                <% for(let i=0; i < errors.length; i++) { %>
                    <p class="alert alert-danger">
                        <%= errors[i] %>
                    </p>
                    <% } %>
                        <% } %>

                            <div class="form-floating">
                                <!-- value="<%= email %> คือตัวแปรที่เอามาจาก file registerController.js เพื่อคงค่าที่ user กรอกลงไปหลังจาก user เผลอกด sign up ใน form -->

                                <input type="email" name="email" value="<%= email %>" class="form-control"
                                    id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Email address</label>
                            </div>
                            <div class="form-floating">

                                <input type="password" name="password" class="form-control" id="floatingPassword"
                                    placeholder="Password">
                                <label for="floatingPassword">Password</label>
                            </div>
                            <div class="form-floating">

                                <input type="nameuser" name="nameuser" value="<%= nameuser %>" class="form-control"
                                    id="floatingInput" placeholder="Username">
                                <label for="floatingInput">Username</label>
                            </div>
                            <div class="mb-3">

                                <label for="floatingInput" class="form-label">Phone</label>
                                <input type="tel" name="tel" value="<%= tel %>" class="form-control" id="floatingInput"
                                    placeholder="e.g., 123-456-7890">
                                <small id="phoneHelp" class="form-text text-muted">Please enter a valid phone number
                                    in the format: 123-456-7890.</small>
                            </div>
                            <div class="mb-3">
                                <label for="birthday">Birthday</label>
                                <div class="row">
                                    <div class="col-md-3">

                                        <select class="form-select" id="day" name="day">
                                            <option value="" disabled selected>Day</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">

                                        <select class="form-select" id="month" name="month">
                                            <option value="" disabled selected>Month</option>
                                            <option value="January">January</option>
                                            <option value="February">February</option>
                                            <option value="March">March</option>
                                            <option value="April">April</option>
                                            <option value="May">May</option>
                                            <option value="June">June</option>
                                            <option value="July">July</option>
                                            <option value="August">August</option>
                                            <option value="September">September</option>
                                            <option value="October">October</option>
                                            <option value="November">November</option>
                                            <option value="December">December</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 pb-3">

                                        <select class="form-select" id="year" name="year">
                                            <option value="" disabled selected>Year</option>
                                            <option value="1999">1999</option>
                                            <option value="2000">2000</option>
                                            <option value="2001">2001</option>
                                            <option value="2002">2002</option>
                                            <option value="2003">2003</option>
                                            <option value="2004">2004</option>
                                            <option value="2005">2005</option>
                                            <option value="2006">2006</option>
                                            <option value="2007">2007</option>
                                            <option value="2008">2008</option>
                                            <option value="2009">2009</option>
                                            <option value="2010">2010</option>
                                            <option value="2011">2011</option>
                                            <option value="2012">2012</option>
                                            <option value="2013">2013</option>
                                            <option value="2014">2014</option>
                                            <option value="2015">2015</option>
                                            <option value="2016">2016</option>
                                            <option value="2017">2017</option>
                                            <option value="2018">2018</option>
                                            <option value="2019">2019</option>
                                            <option value="2020">2020</option>
                                            <option value="2021">2021</option>
                                            <option value="2022">2022</option>
                                            <option value="2023">2023</option>
                                        </select>
                                    </div>
                                </div>
                                <button class="btn btn-primary w-100 py-2" type="submit"
                                    style="background-color: #44abff; color: white">Sign up</button>
        </form>
    </main>


    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <footer class="footer fixed-bottom">
      <p>&copy; YarkArn</p>
      <p>
        <a href="/">หน้าหลัก</a> |
        <a href="/map">แผนที่</a> |
        <a href="/allbook">หนังสือทั้งหมด</a> |
        <a href="/find">ค้นหา</a> |
        <a href="/list">สิ่งที่อยากอ่าน</a> |
        <a href="/contact">ติดต่อเรา</a> |
        <a href="/login">เข้าสู่ระบบ</a> |
        <a href="/register">สมัครสมาชิก</a>
      </p>
    </footer>

</body>

</html>